@charset "UTF-8";
body{
    background-color: #A56EFF;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color:#3E2454;
}
.principal{
    text-align:center;
    color: white;
    background-color: #2F1B40;
}
h2{
    color: #502F6E;
    
}
.basico{
   color: #6e2f57;
}
.intermediario{
    color: #6e2f32;
}
.avançado{
    color: #6e452f;
} 