@charset "UTF-8";
body{
    background-color: rgb(41, 134, 234);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(1, 11, 21);
}
#principal{
    text-align:center;
    color: black;
}
#segundo{
    color: aliceblue;
}
h2{
    color: rgb(6, 26, 46);;
}